<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707047580465-d9sa17hfc11gdhf317k4ib6emm9j09qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707047580465-d9sa17hfc11gdhf317k4ib6emm9j09qa</string>
	<key>API_KEY</key>
	<string>AIzaSyC1iTYL2OAesoLelzDoy0lfNX7LR9mMe9c</string>
	<key>GCM_SENDER_ID</key>
	<string>707047580465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openeducacao</string>
	<key>PROJECT_ID</key>
	<string>vitorads-64376</string>
	<key>STORAGE_BUCKET</key>
	<string>vitorads-64376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707047580465:ios:286e11b3a4ec52ef174610</string>
</dict>
</plist>